/* ===== st-c 担当CSS ===== */
/* st-c の人は、このファイルだけ編集します */

#st-c {
  border-left: 8px solid lightgreen;
}

#st-c h2 {
  color: #2f8f46;
}

#st-c .country {
  background: #e8f8e8;
  padding: 8px 12px;
  border-radius: 8px;
}
